.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wbdv-sticky-nav-bar {
  position: fixed;
  width:100%;
  background-color: white;
  padding: 10px;
  z-index: 1;
}

.wbdv-nav-bar-text {
  max-height: 40px;
}

.wbdv-content-blw-bar {
  padding-top: 58px;
}

.wbdv-sticky-plus-circle {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

.wbdv-fa-red {
  color: red;
}

.wbdv-fa-green {
  color: green;
}

.wbdv-fa-blue {
  color: blue;
}

.wbdv-card-icons {
  position:relative;
  left: 75%;
}

.wbdv-nav-tabs {
  padding: 10px;
  padding-left: 0px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}